$primaryGreen: #4EC690;

.box-shadow-none {
  box-shadow: none !important;
}
.cursor-pointer {
  cursor: pointer;
}
.w-100 {
  width: 100%;
}
.filter {
  .v-list-item {
    min-height: 20px;
  }
  .v-list-item__content {
    padding: 8px 0;
  }
}
.mobile-menu {
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  padding: 10px;
  position: fixed;
  background-color: white;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.border-r-1 {
  border-right: 1px solid #DDE3E2;
}
.w-32 {
  width: 32px;
}